{% extends "ssh/base.html" %}
{% block content %}

<br />
  <form action="{% url 'compliance-check-summary' %}">
    <button type="submit" class="btn btn-info" style="float: right;margin-left: -50%;margin-top: 2em;">Show Compliance Summary</button>
    <br><br>
  </form>
  
  <form action="{% url 'compliance-status' %}">
    <button type="submit" class="btn btn-danger" style="float: right;margin-left: -50%;margin-top: 2em;">Show Compliance Status</button>
    <br><br>
  </form>

  <h5>Output Logs:</h5><p>
  <table id="logstable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Host</th>
        <th class="th-sm">Output</th>
      </tr>
    </thead>
    <tbody>
      {% for givenhost,output in OutputDict %}
      <tr>
        <td>{{ givenhost }}</td>
        <td>{{ output | linebreaks}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table></p>

{% endblock content %}